.hero__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 8rem auto;
    padding-bottom: 4rem ;
    

}
.hero{
    background: linear-gradient(white, #f2f3f4);
}
.hero__texts h2{
    margin-bottom: 1.5rem;


}
.hero__texts p{
    color: black;
    margin-bottom: 2rem;
    font-size:1.2rem ;
}


.hero__section img{
    border-radius: var(--radius-4);
}



/* <!-- ======================GALLERYSECTION =================================== --> */

.gallery{
    background: #ffffff;
}

.gallery__container{
    padding: 0.5rem;
}

.upper__gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.lower__gallery{
    /* display: grid; */
    gap: 3rem;

}
.gallery__choices{
    display: flex;
    gap: 3rem;
    margin-top: 2.5rem;
    border-top: 0.2rem solid ;
    /* align-items: center; */
}

.gallery__choices a{
    width: fit-content;
    padding: 1rem 2rem 0.5rem;
    margin: 1rem 0 0;
    border-radius: var(--radius-3);
    box-shadow: 0 0.4rem 1rem var(--color-green-100);
    text-transform: uppercase;
   
    
}

.gallery__choices a:hover{
    box-shadow: none;
    transition: var(--transition);
    /* border: 0.1rem solid #000000; */
    background: #000000;
    color: #ffffff;
}

.gallery__choices .active{
    background: var(--color-primary);
}

.gallery__pic{
    display: grid;
    grid-template-columns: repeat(3 ,1fr );
    gap: 2rem;
}

.gallery__details{
   margin: 4rem 0;
   padding: 1rem 0;
   box-shadow: 0 0.7rem o var(--color-green-100);

}